---
import Navigation from '../components/Navigation.astro';
import Sparkling from '../components/icons/sparkling.astro'
import Mail from '../components/icons/mail.astro'
import Github from '../components/icons/Github.astro'
import Twitter from '../components/icons/Twitter.astro'
import Discord from '../components/icons/Discord.astro'
import Titter from '../components/icons/Plane.astro'
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const projects = await getCollection("projects")
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <meta name="description" content="I am Anirudha Pratap Sah (APS) a fullstack web developer from India." />
       <meta name="keywords" content="Anirudha, APS, Anirudha Pratap Sah, Anirudha Sah, Anirudh Pratap Sah, Anirudh Sah, aps6">
    <meta property="og:title" content="Anirudha P Sah | Web Developer">
    <meta property="og:description" content="I am Anirudha Pratap Sah (APS) a web developer from India. This is my portfolio">
    <meta property="og:image" content="https://anirudha.pro/openGraph.jpg">
    <meta property="og:url" content="https://anirudha.pro/">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Anirudha P Sah | Web Developer">
    <meta property="twitter:description" content="I am APS a web developer from India. This is my portfolio">
    <meta property="twitter:image" content="https://anirudha.pro/openGraph.jpg">
    <title>Anirudha P Sah | Portfolio</title>
  </head>
  <body class="bg-bgCol text-text">
    <Navigation />
    <main
      class="px-4 md:px-8 2xl:px-10 max-w-[120rem] m-auto bg-[url('/mobile-bg.jpg')] md:bg-[url('/background.jpg')] bg-cover overflow-x-hidden"
    >
      <header
        class="h-screen flex items-center sm:items-end pt-16 sm:pt-0 sm:pb-32 md:pb-16 2xl:pb-24"
      >
        <h1 class="text-[clamp(4.5rem,15.3125vw,18rem)] font-semibold leading-none">Anirudha Pratap Sah</h1>
      </header>
      <section
        class="py-12 md:py-16 border-y border-y-text flex flex-col items-center gap-11 md:mt-20"
      >
        <div
          class="flex gap-3 text-center sm:text-left items-center text-[clamp(2.25rem,6vw,6.5rem)]"
        >
          <h2 class="font-semibold">Choose Your experience</h2>
          <Sparkling />
        </div>
        <div class="flex gap-6 font-medium">
          <a href="/"
            ><button
              class="text-[clamp(1rem,2.5vw,3rem)] rounded-[100px] py-[clamp(.6rem,1.5vw,1.875rem)] px-[clamp(1rem,2.5vw,3rem)] bg-none border-2 border-primary"
            >
              Professional
            </button></a
          >
          <a href="/humorous"
            ><button
              class="text-[clamp(1rem,2.5vw,3rem)] rounded-[100px] py-[clamp(.6rem,1.5vw,1.875rem)] px-[clamp(1rem,2.5vw,3rem)] bg-primary text-black"
            >
              Humorous
            </button></a
          >
        </div>
      </section>
      <section class="py-12 md:py-24">
        <h2
          class="text-[clamp(0.875rem,1.875vw,2.25rem)] font-bold text-primary"
        >
          Who I am
        </h2>
        <p class="text-[clamp(2rem,4.6vw,5.5rem)] para-animate">
			One year in the code world, I've been staring at my computer and hitting the keyboard until a website materializes magically.
        </p>
      </section>
      <section class="py-12 md:py-24">
        <h2
          class="text-[clamp(0.875rem,1.875vw,2.25rem)] font-bold text-primary"
        >
          What I do
        </h2>
        <p class="text-[clamp(2rem,4.6vw,5.5rem)] para-animate">
			I spend days working on my stupid ideas, trying to perfect every pixel and killing those nasty bugs
        </p>
      </section>
      <div id="marqueeParent" class="py-4 md:py-7 mt-8 border-y border-y-text">
        <div
          id="marquee"
          class="flex gap-2 md:gap-7 text-[clamp(1.2rem,3.28125vw,3.9375rem)] font-semibold text-[#c5c5c5] translate-x-1/4"
        >
          <span>React</span>
          <span>Figma</span>
          <span>NextJS</span>
          <span>Database</span>
          <span>Astro</span>
          <span>CMS</span>
          <span>GSAP</span>
          <span>Prisma</span>
          <span>UX</span>
          <span>WebSockets</span>
          <span>API</span>
        </div>
      </div>
      <section id="portfolio" class="py-12 md:py-24">
        <h2
          class="text-[clamp(0.875rem,1.875vw,2.25rem)] pb-4 font-bold text-primary"
        >
          My work
        </h2>
        <div class="flex flex-col gap-14">
          { projects.map((project) => { return (
          <div class="flex flex-col sm:flex-row gap-4 sm:gap-8">
            <Image class='rounded max-sm:w-full sm:flex-[0.9]' src={"/" +
            project.data.slug + ".jpg"} alt={project.data.slug} width={500}
            height={500} widths={[300, 400, 500, 600, 700]} sizes={`(max-width:
            450px) 400px, (min-width: 450px) 500px, (min-width: 640px) 300px,
            (min-width: 768px) 500px, (min-width: 1400px) 700`}/>
            <div class="flex-[1.2]">
              <h3
                class="pb-3 text-[clamp(1rem,3.125vw,3.75rem)] sm:pb-[clamp(1.3rem,5.625vw,6.75rem)] font-medium"
              >
                {project.data.name}
              </h3>
              <p
                class="text-[clamp(1.2rem,3.28125vw,4rem)] pb-[clamp(0.8rem,3.52vw,4.2rem)]"
              >
                {project.data.hDescription}
              </p>
              <a href={project.data.url} target="_blank"
                ><button
                  class="text-[clamp(.875rem,2.1875vw,2.625rem)] font-medium rounded-[100px] py-[clamp(.5rem,1.5vw,1.875rem)] px-[clamp(1rem,2.5vw,3rem)] bg-primary text-black"
                >
                  Explore
                </button></a>
            </div>
          </div>
          ) }) }
        </div>
      </section>
      <footer class="py-6 md:py-12 border-t border-t-text">
        <h2
          class="text-[clamp(0.875rem,1.875vw,2.25rem)] font-bold text-primary"
        >
          Connect
        </h2>
        <p class="text-[clamp(1.25rem,4.375vw,3.5rem)] pb-5">
          Hit me up on any of these and I will either ignore you or have a nice chat
        </p>
        <a class=" text-[clamp(.75rem,1.5625vw,1.5rem)] flex items-center gap-2 pb-5" href="mailto:anirudhapsah@gmail.com"><Mail /><span>anirudhapsah@gmail.com</span></a>
        <div class=" text-[clamp(.75rem,1.5625vw,1.5rem)] flex gap-5">
          <a class="flex items-center gap-2" href="https://github.com/APS6"><Github /><span>Github</span></a>
          <a class="flex items-center gap-2" href="https://twitter.com/AnirudhaPSah"><Twitter /> <span>Twitter</span></a>
		  <a class="flex items-center gap-2" href="https://discord.com/users/752376627937411103"><Discord /><span>Discord</span></a>
          <a class="flex items-center gap-2" href="https://titterchat.vercel.app/Home"><Titter /><span>Titter</span></a>
        </div>
      </footer>
    </main>
    <script src="../animations.js"></script>
  </body>
</html>
