---
import RootLayout from "../layouts/RootLayout.astro";
import Navigation from "../components/Navigation.astro";
import Github from "../components/icons/Github.astro";
import Twitter from "../components/icons/Twitter.astro";
import Discord from "../components/icons/Discord.astro";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import { Image } from "astro:assets";
import FaceLight from "../images/face-light.webp";
import FaceDark from "../images/face-dark.webp";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<RootLayout>
    <Navigation />
    <main class="pt-24 px-2 xl:px-0 max-w-7xl m-auto">
        <header
            class="flex flex-col md:flex-row gap-6 md:gap-0 justify-between items-center min-[830px]:pl-14 pb-6 border-b-4 border-b-black dark:border-b-2 dark:border-b-neutral-100"
        >
            <div>
                <span class="font-poppins">Fullstack Developer</span>
                <h1 class="text-7xl md:text-8xl font-poppins font-bold">
                    Hi, I am<br />Anirudha
                </h1>
            </div>
            <Image
                id="lightface"
                loading="eager"
                class="w-[300px] h-[300px] md:w-[350px] md:h-[350px]"
                src={FaceLight}
                alt="Anirudha P Sah's face"
                width="350"
                height="350"
            />
            <Image
                id="darkface"
                loading="eager"
                class="hidden w-[300px] h-[300px] md:w-[350px] md:h-[350px]"
                src={FaceDark}
                alt="Anirudha P Sah's face"
                width="350"
                height="350"
            />
        </header>
        <section
            class="pt-4 pb-6 border-b-4 border-b-black dark:border-b-2 dark:border-b-neutral-100"
        >
            <h2 class="pl-1 text-lg font-bold">My Work</h2>
            <p class="pl-1 text-lg">
                Here are are some of the things that I have built.
            </p>
            <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8 pt-5">
                {
                    projects.map((project) => {
                        return (
                            <a
                                href={project.data.url}
                                target="_blank"
                                class="bg-[#e9e9e9] dark:bg-neutral-900 dark:text-white rounded-xl pb-2"
                            >
                                <Image
                                    class="w-full rounded-t-lg"
                                    loading="eager"
                                    src={"/" + project.data.slug + ".webp"}
                                    alt={project.data.slug}
                                    width={500}
                                    height={500}
                                />
                                <div class="pt-1 px-3">
                                    <h3 class="font-bold text-lg">
                                        {project.data.name}
                                    </h3>
                                    <p class="">{project.data.description}</p>
                                </div>
                            </a>
                        );
                    })
                }
            </div>
        </section>
        <footer class="pl-1 pt-4 pb-6">
            <h2 class="text-lg font-bold">Connect</h2>
            <a
                class="text-lg underline underline-offset-2"
                href="https://chat.anirudhasah.com">chat.anirudha</a
            >
            <a class="block text-lg" href="mailto:me@anirudhasah.com"
                >me@anirudhasah.com</a
            >
            <div class="flex gap-4 pt-2">
                <a
                    href="https://github.com/APS6"
                    class="flex gap-2 items-center text-lg"
                >
                    <Github />
                    <span>Github</span>
                </a>
                <a
                    href="https://twitter.com/anirudhasah"
                    class="flex gap-2 items-center text-lg"
                >
                    <Twitter />
                    <span>Twitter</span>
                </a>
                <a
                    href="https://discord.com/users/752376627937411103"
                    class="flex gap-2 items-center text-lg"
                >
                    <Discord />
                    <span>Discord</span>
                </a>
            </div>
        </footer>
    </main>
</RootLayout>
<script src="../javascript/theme.js"></script>
